.row {
  display: flex;
  justify-content: center;
  height: 100%;
}

.rowInner {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: var(--space-4);
}

.status {
  margin-top: var(--space-4);
}

.list {
  margin-top: var(--space-4);
}

.skeletons {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-4);
}

.loadingMore {
  margin-top: var(--space-2);
}
